body {
    background: aqua;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: black;
    padding: 20px;
}

section {
    background: white;
    color: gray;
    padding: 20px;
    display: flex;
    flex-direction: row;
}

section div {
    background: red;
    margin: auto;
    width: 100px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

li {
    display: inline-block;
    margin-right: 20px;
}

a {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: red;
    text-decoration: none;
    text-transform: uppercase;
}

footer {
    background: black;
    padding: 10px 20px;
}

button {
    background: gray;
    border: none;
    color: white;
    border-radius: 30px 30px 30px 30px;
    margin: 20px;
    padding: 10px;
}